.Contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.contact_header {
    font-size: calc(20px + 3vmin);
    color: black;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);

    opacity: 0;
    animation: fadeIn 0.25s ease-in-out forwards;
}

.email_cont {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: auto;

    background-color: rgba(162, 164, 163, 0.8);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    padding: 15px;
    width: max-content;

    opacity: 0;
    animation: fadeIn 0.25s ease-in-out forwards;
}

.email {
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.email::before {
    content: "\2709";
    font-size: 40px;
    font-weight: normal;
    vertical-align: middle;
}

.email .address {
    font-size: 30px;
    font-weight: normal;
    margin: 0px;
    line-height: 1.2;
}

.social_cont {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: auto;

    background-color: rgba(162, 164, 163, 0.8);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    padding: 15px;
    width: max-content;

    opacity: 0;
    animation: fadeIn 0.25s ease-in-out forwards;
}
.socials {
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.socials a {
    font-size: 30px;
    font-weight: normal;
    margin: 0px;
}
