.Contact {
    display: flex;
    text-align: center;
    justify-content: safe;
}

.contact_header {
    font-size: calc(20px + 3vmin);
    align-items: center;
}

.email_cont {
    position: sticky;
    margin-top: 100px;
    margin-left: 50px;
    margin-right: auto;

    background-color: rgba(162, 164, 163, 0.8);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    padding: 15px;
    width: max-content;
}

.email {
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.email .address {
    font-size: 30px;
    margin-bottom: 0;
    margin-top: 5px;
    font-weight: normal;
}
