@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.Experience{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-header{
    font-size: calc(20px + 3vmin);
    color: black;
    background-color: rgba(253, 253, 253, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 0.25s ease-in-out forwards;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    max-width: 100%;
    margin-top: 80px;

    opacity: 0;
    animation: fadeIn 0.25s ease-in-out forwards;
}

.experience-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;
}

.experience {
    max-width: 700px;
    background-color: rgba(253, 253, 253, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: fit-content;
    font-weight: bold;
}
.experience p{
    font-weight: normal;
}