.pub {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    max-width: 100%;
    margin-top: 80px;

    opacity: 0;
    animation: fadeIn 0.25s ease-in-out forwards;
}
