.pub {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-wrapper,
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 80px;
    opacity: 0;
    animation: fadeIn 0.25s ease-in-out forwards;
}

.pub-header {
    width: fit-content;
    font-size: calc(20px + 3vmin);
    color: black;
    background-color: rgba(253, 253, 253, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px 20px;
    margin: 10px auto;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 0.25s ease-in-out forwards;
    text-align: center;
}

.pub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    margin-top: 30px;
}

.publication {
    background-color: rgba(253, 253, 253, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 90%;
    max-width: 800px;
    font-weight: bold;
}

.pub-title {
    font-weight: bold;
    font-size: 35px;
}

.publication p {
    font-size: 30px;
    text-align: left;
    font-weight: normal;
}
