.download_wrapper{
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    padding: 15px 15px;
    text-decoration: none;
    font-size: 16px;

    display: block; /* Change from inline-block to block */
    margin: 0 auto; /* This will center a block-level element horizontally */
    width: fit-content;
}

.download_button.not {
    background-color: #00539f;
    color: #ffd200;
    cursor: pointer;
    padding: 15px 30px;
    font-size: 20px;
}

.download_button.not:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #00539f;
    color: #ffd200;
}

.Resume {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.resume-header {
    font-size: calc(20px + 3vmin);
    color: black;
    background-color: rgba(253, 253, 253, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 12px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 0.25s ease-in-out forwards;
}