.navigation_bar {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    justify-content: flex-end;
    gap: 10px;

    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.button.not {
    background-color: #00539f;
    color: #ffd200;
    cursor: pointer;
}

.button.not:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #00539f;
    color: #ffd200;
}

.button.active {
    background-color: #ffd200; /* Example: Green for the active button */
    border-color: #ffd200;
    font-weight: bold;
    box-shadow: 0 0 0 0.2rem rgba(255, 210, 0, 0.5);
}

.button.active:hover {
    background-color: #ffbb00;
    border-color: #ffbb00;
}
